<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.vishmurda.retirement-lab.frontend</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/opt/python@3.12/bin/python3.12</string>
    <string>-m</string>
    <string>http.server</string>
    <string>3000</string>
    <string>--bind</string>
    <string>127.0.0.1</string>
    <string>--directory</string>
    <string>/Users/vishmurda/Library/Application Support/RetirementLab/site</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/vishmurda/Library/Application Support/RetirementLab</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>3</integer>
  <key>StandardOutPath</key>
  <string>/Users/vishmurda/Library/Application Support/RetirementLab/logs/frontend.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/vishmurda/Library/Application Support/RetirementLab/logs/frontend.stderr.log</string>
</dict>
</plist>
